osx_image: xcode7.3
language: objective-c

cache: cocoapods
podfile: Example/Podfile
before_install:
  - gem install cocoapods 
  - pod install --project-directory=Example
script:
  - set -o pipefail && xcodebuild test -workspace Example/EFCountingLabel.xcworkspace -scheme EFCountingLabel-Example -sdk iphonesimulator9.3 ONLY_ACTIVE_ARCH=NO | xcpretty
  - pod lib lint --no-clean
after_success:
  - sleep 5